

/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .cover-photo {
        margin:  400px 0px 0px 0px;
    }
    
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 60px 0; }
    
    .long-copy {
        width: 80%;
        margin-left: 10%;
    }
    
    .cover-photo {
        height: 220px;
        margin:  200px 0px 0px 0px;
    }
    
    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-steps { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }
    
    .icon-small { 
        width: 17px;
        margin-right: 5px;
    }
    
    .city-feature { font-size: 90%; }
    
    .contact-form { width: 80%; }
}



/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    
    header {
        background: linear-gradient(#6ee0b4,#7088d8);
    }
    
    .design-section {
        background-image: linear-gradient(rgba(2, 108, 75, 0.81), rgba(71, 44, 162, 0.81)), url(img/design1.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
    
    .hero-text-box { top: 60%; }
    
    .row,
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    
    .cover-photo {
        position: relative;
        height: 100px;
        width: auto;
        float: medium;
        border-radius: 50%;
        margin:  200px 0px 0px 0px;
        -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
        box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    }
    
    
    .main-nav { display: none; }
    .mobile-nav-icon {display: inline-block;}
    
    .main-nav {
        float: left;
        margin-top: 30px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }

    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    
    
    h1 { font-size: 130%; }
    h2 { font-size: 110%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0%;
    }
}



/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
    section { padding: 25px 0; }
    .contact-form {width: 100%; }
    .cover-photo {display: none;}
    .hero-text-box { top: 60%; }
    header {
        background: linear-gradient(#6ee0b4,#7088d8);
    }
    .design-section {
        background-image: linear-gradient(rgba(2, 108, 75, 0.81), rgba(71, 44, 162, 0.81)), url(img/design1.jpg);
        background-size: cover;
        background-attachment: fixed;
    }
}

